:root {
    --color-primary: #003049;
    --color-danger: #d62828;
    --color-success: #18a999;
    --color-warning: #fcbf49;
    --color-orange: #f77f00;
    --color-white: #fff;
    --color-info-dark: #363949;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #1b9aaa;
    --color-dark-variant: #677483;
    --color-background: #eae2b7;

    --color-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-1: 0.8rem;
    --border-radius-1: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 1rem 2.5rem var(--color-dark-variant);
    --border-solid: 1px solid var(--color-primary);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background: var(--color-background) !important;
    color: var(--color-primary) !important;
}

img {
    display: block;
    width: 100%;
    /* Adjust the size of your logo */
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem !important;
}

h3 {
    font-size: 0.87rem !important;
    margin-bottom: 0 !important;
}

h4 {
    font-size: 0.8rem !important;
}

small {
    font-size: 0.77rem !important;
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
    margin-bottom: 0 !important;
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.primary-light {
    color: var(--color-background);
}

.warning-orange {
    color: var(--color-orange);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}
.top .profile .role small{
    color: var(--color-orange);
}
.top .profile .info b,

.top .profile .info p{
    color: var(--color-background);
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0 1rem;
}
/* admin.css */
.container {
    font-family: "Poppins", sans-serif;
    display: grid;
    /* border: var(--border-solid); */
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 250px auto 23rem;
}

aside {
    grid-column: 1;
}

main {
    grid-column: 2;
}

.right {
    grid-column: 3;
}

.main-container {
    font-family: "Poppins", sans-serif;
    display: grid;
    width: 100%;
    margin: 0 auto;
    padding-right: 30px;
    gap: 1.8rem;
    grid-template-columns: 250px auto 23rem;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: var(--color-primary);
    overflow-y: auto;
    z-index: 1000;

}

aside .top {
    border: var(--border-solid);
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

.logo img {
    height: 2rem;
    width: 2rem;
    /* Adjust the size of your logo */
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 3.7rem;
    transition: all 300ms ease;
}

.sidebar a .ri-dashboard-line,
.sidebar a .ri-receipt-fill,
.sidebar a .ri-edit-2-line,
.sidebar a .ri-time-line,
.sidebar a .ri-folder-received-fill,
.sidebar a .ri-wallet-3-fill,
.sidebar a .ri-team-line,
.sidebar a .ri-receipt-line,
.sidebar a .ri-basketball-fill,
.sidebar a .ri-home-3-line,
.sidebar a .ri-user-line,
.sidebar form .ri-logout-box-r-line {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    color: var(--color-background);
    gap: 1rem;
    text-decoration: none;
    height: 3.7rem;
    transition: all 300ms ease;
    position: relative;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar form {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar form button span:hover {
    margin-left: 0.5rem;
    background: var(--color-primary);
    color: var(--color-danger);
}

aside .sidebar form button {
    background: var(--color-primary);
    color: var(--color-background);
    border: none;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    width: 80%;
}

aside .sidebar form button span h3 {
    font-family: 'Poppins', sans-serif;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
}

aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-background);
}

aside .sidebar a.active span {
    color: var(--color-background);
    margin-left: calc(1rem-3px);
}

aside .sidebar a:hover {
    color: var(--color-danger);
}

aside .sidebar a:hover span {
    margin-left: 0.5rem;
    color: var(--color-warning);
}

aside .sidebar .message-count {
    background-color: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    margin-left: 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ==============================MAIN=========================== */


main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type='date'] {
    background: transparent;
    color: var(--color-dark);
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights>div {
    background: var(--color-background);
    padding: var(--card-padding);
    border-radius: 8%;
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>div:hover {
    background: var(--color-warning);
    box-shadow: none;
    /* border: 1px solid var(--color-primary); */
    transition: all 300ms ease;
}

main .insights>div.totalreservation span {
    background: var(--color-orange);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-background);
    font-size: 2rem;
}

main .insights>div.gymreservation span {
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-background);
    font-size: 2rem;
    background: var(--color-danger);
}

main .insights>div.dormreservations span {
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-background);
    font-size: 2rem;
    background: var(--color-success);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

main .recent-updates .update {
    display: flex;
    gap: 1em;
    padding: 1em;
}

main .recent-updates {
    margin-top: 30px;
}

main .recent-updates .updates {
    background: var(--color-primary);
    padding: var(--card-padding);
    border-radius: 5%;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;

}

main .recent-updates .updates:hover {
    box-shadow: none;
}

main .recent-updates .updates .update .message p b {
    color: var(--color-orange);
}

main .recent-updates .updates .update .message p {
    color: var(--color-background);
}

main .recent-updates .updates .update .message small {
    color: var(--color-warning);
}

main .insights svg {
    color: #d62828;
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    stroke-dasharray: 110;
    stroke-dashoffset: 92;


}

main .insights .totalreservation svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .gymreservation svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .dormreservations svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*========================RECENT RESERVATIONS==================*/

main .recent-orders {
    margin-top: 2rem;
}

main.recent-orders h2 {
    mask-border: 0.8rem;
}

main .recent-orders table {
    color: var(--color-background);
    background-color: var(--color-primary);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

/*========================RIGHT==================*/
.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .theme-toggler span.active {
    background: var(--color-primary);
    color: var(--color-background);
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*======================== RECENT UPDATES ==================*/
.right .recent-updates {
    margin-top: 1rem;
}

.right .recent-updates h2 {
    margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
    background: var(--color-primary);
    padding: var(--card-padding);
    border-radius: 5%;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .recent-updates .updates .update .message p b {
    color: var(--color-orange);
}

.right .recent-updates .updates .update .message p {
    color: var(--color-background);
}

.right .recent-updates .updates .update .message small {
    color: var(--color-warning) !important;
}

/*======================== SALES ANALYTICS ==================*/
.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    mask-border: 0.8rem;
}

.right .sales-analytics .item {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    gap: 1rem;
    mask-border: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right.sales-analytics .item .icon {
    padding: 0.6rem;
    color: var(--color-background);
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
}

.right .sales-analytics .item.offline .icon {
    background-color: var(--color-danger);

}

.right .sales-analytics .item.customers .icon {
    background-color: var(--color-success);
}

.right .sales-analytics .add-product {
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
}

.right .sales-analytics .add-product div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.right .sales-analytics .add-product div h3 {
    font-weight: 600;
}



#ReceivingPaidTable th,
#ReceivingPendingTable th,
#AdminUserTable th,
#AdminGymReservationTable th,
#AdminDormReservationTable th,
#GymReservationTable th,
#GymReservationCartTable th,
#DormReservationTable th,
#DormReservationCartTable th {
    font-size: 0.88em;
}

#ReceivingPaidTableCard,
#ReceivingPendingTableCard,
#AdminUserTableCard,
#AdminGymReservationTableCard,
#AdminDormReservationTableCard,
#GymReservationTableCard,
#GymReservationCartTableCard,
#DormReservationTableCard,
#DormReservationCartTableCard {
    background: var(--color-primary);
    color: var(--color-background);
    padding: 20px;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.fullspan{
    grid-column: 2/span 3;
}
#ReceivingPaidTableCard:hover,
#ReceivingPendingTableCard:hover,
#AdminDormReservationTableCard:hover,
#AdminGymReservationTableCard:hover,
#AdminUserTableCard:hover,
#GymReservationTableCard:hover,
#GymReservationCartTableCard:hover,
#DormReservationTableCard:hover,
#DormReservationCartTableCard:hover {
    box-shadow: none;
}

#AdminUserTableCard td {
    color: var(--color-background);
}

.btn-confirm-payment.rounded-pill {
    border: 1px solid var(--color-warning) !important;
    font-size: 0.77em;
    margin-right: 5px;
    color: var(--color-warning);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-confirm-payment.rounded-pill:hover {
    border: 1px solid var(--color-primary) !important;
    background-color: var(--color-warning) !important;
    color: var(--color-primary) !important;
}

.btn-view-details.rounded-pill,
.btn-generate-pdf.rounded-pill {
    border: 1px solid var(--color-background) !important;
    font-size: 0.77em;
    margin-right: 5px;
    color: var(--color-background);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-view-details.rounded-pill:hover,
.btn-generate-pdf.rounded-pill:hover {
    border: 1px solid var(--color-primary) !important;
    background-color: var(--color-background) !important;
    color: var(--color-primary) !important;
}


.btn-delete-profile.rounded-pill {
    border: 1px solid var(--color-danger) !important;
    font-size: 0.77em;
    margin-right: 5px;
    color: var(--color-danger);
}

.btn-delete-profile.rounded-pill:hover {
    border: 1px solid var(--color-danger) !important;
    background-color: var(--color-danger) !important;
    color: var(--color-background) !important;
}

.btn-assign-number.rounded-pill,
.btn-edit-profile.rounded-pill {
    border: 1px solid var(--color-orange);
    font-size: 0.77em;
    margin-right: 5px;
    color: var(--color-orange);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-assign-number.rounded-pill:hover,
.btn-edit-profile.rounded-pill:hover {
    border: 1px solid var(--color-orange);
    background-color: var(--color-orange);
    color: var(--color-primary) !important;
}

.btn-edit-profile {
    padding: 8px 20px !important;
}

.delete-form-user,
.btn-edit-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-delete-profile .btn-edit-profile {
    background: none;
    border: 1px solid var(--color-orange);
    text-transform: uppercase;
    padding: 8px 20px;
    min-width: 30px;
    cursor: pointer;
    transition: color 0.4s linear;
    font-size: 0.67em;
}

.btn-delete-profile:hover {
    border-color: var(--bs-btn-hover-border-color);
}

div.dt-container .dt-paging .dt-paging-button.disabled {
    color: var(--color-primary) !important;
    background: var(--color-background) !important;
    opacity: 40%;
}


.btn-submit-reservation-modal,
.btn-create-user-modal {
    border: 1px solid var(--color-success) !important;
    color: var(--color-success) !important;
    background: var(--color-background) !important;
    font-size: 1rem;
}

.btn-submit-reservation-modal:hover,
.btn-create-user-modal:hover {
    border: 1px solid var(--color-success) !important;
    color: var(--color-background) !important;
    background: var(--color-success) !important;
}

.btn-clear-reservation-modal,
.btn-clear-user-modal {
    border: 1px solid var(--color-danger) !important;
    color: var(--color-danger) !important;
    background: var(--color-background) !important;
    font-size: 1rem;
}

.btn-clear-reservation-modal:hover,
.btn-clear-user-modal:hover {
    border: 1px solid var(--color-danger) !important;
    color: var(--color-background) !important;
    background: var(--color-danger) !important;
}

.btn-back-edit {
    border: 1px solid var(--color-danger) !important;
    color: var(--color-danger) !important;
    background: var(--color-primary) !important;
    font-size: 1rem;
}

.btn-back-edit:hover {
    border: 1px solid var(--color-danger) !important;
    color: var(--color-primary) !important;
    background: var(--color-danger) !important;
}


.btn-go-back,
.btn-save-edit-changes {
    border: 1px solid var(--color-orange) !important;
    color: var(--color-orange) !important;
    background: var(--color-primary) !important;
    font-size: 1rem;
}
.btn-confirm-payment-gym,
.btn-confirm-payment-dorm{
    border: 1px solid var(--color-success) !important;
    color: var(--color-success) !important;
    background: var(--color-primary) !important;
    font-size: 1rem;
}
.btn-confirm-payment-gym:hover,
.btn-confirm-payment-dorm:hover{
    border: 1px solid var(--color-success) !important;
    color: var(--color-primary) !important;
    background: var(--color-success) !important;
}

.btn-go-back:hover,
.btn-save-edit-changes:hover {
    border: 1px solid var(--color-orange) !important;
    color: var(--color-primary) !important;
    background: var(--color-orange) !important;
}

#ReceivingPendingTableCard .form-label {
    color: var(--color-orange);
}
#AdminUserTableCard .form-control:disabled, 
#ReceivingPendingTableCard .form-control:disabled {
    color: var(--color-primary) !important;
    background: var(--color-background) !important;
    border: 1px solid var(--color-primary) !important;
}
#addReservationNumberForm .form-control:required   {
    background-color: none !important;
}
#addReservationNumberForm .form-control:disabled    {
    color: var(--color-primary) !important;
    background: var(--color-background) !important;
    border: 1px solid var(--color-primary) !important;
}
#reservation_number{
    width: calc(100%-80px);
}
.or_number_container,
.form_number_container,
.reservation_number_container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary {
    color: var(--color-primary) !important;
    background: var(--color-background) !important;
}

.modal-content {
    background: var(--color-background) !important;
}

.btn-create-user {
    background: var(--color-primary);

}

.btn-clear,
.btn-create-user {
    color: var(--color-primary) !important;
    border: 1px solid var(--color-primary) !important;
}

.btn-clear {
    background: var(--color-primary);
}

.btn-clear:hover,
.btn-create-user:hover {
    color: var(--color-primary) !important;
    border: 1px solid var(--color-primary) !important;
}

.btn-primary:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.actions-column {
    display: flex;
    white-space: nowrap;
}

.page-title {
    margin-bottom: 30px;
}

#userTableEditbtn {
    color: var(--color-orange);
    border: 1px solid var(--color-warning);
}

#userTableDeletebtn {
    color: var(--color-danger);
    border: 1px solid var(--color-warning);
}

#userTableEditbtn,
#userTableDeletebtn {
    padding: 5px;
    background: var(--color-background);
    border: none;
    border-radius: 10px;
    margin-right: 10px;
}



.info .ri-hotel-bed-fill,
.info .ri-basketball-fill {
    font-size: 1.5em;
}

.table-home th,
.table-active td {
    color: var(--color-background);
}

#GymReservationCartTableCard,
#DormReservationCartTableCard {
    margin-top: 30px;
}

.small-modal {
    background: var(--color-background) !important;
    color: var(--color-primary) !important;
}

#GymReservationTableCard,
#GymReservationCartTableCard,
#DormReservationTableCard,
#DormReservationCartTableCard,
#ReceivingPendingTableCard {
    grid-column: 2 / span 2;
}

.buttons {
    display: flex;
}

.right-column.password {
    background: var(--color-primary) !important;
    color: var(--color-background);
    box-shadow: var(--box-shadow);
    padding: 20px 40px;

}

.right-column.password:hover {
    box-shadow: none;
}

#AdminChangePasswordCard {
    max-width: 1000px;
}

.profile-title {
    font-size: large !important;
    color: var(--color-orange);
}

.inputbox-container {
    display: flex;
}

.inputBox.current-password,
.inputBox.new-password,
.inputBox.confirm-password {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.inputBox {
    margin-right: 40px;
}

.right-column.password .forgot-password {
    color: var(--color-orange) !important;
}

.btn-save-password-changes {
    border: 1px solid var(--color-orange) !important;
    color: var(--color-orange) !important;
    background: var(--color-primary) !important;
}

.btn-save-password-changes:hover {
    border: 1px solid var(--color-orange) !important;
    color: var(--color-primary) !important;
    background: var(--color-orange) !important;
}

.swal2-confirm.swal2-styled {
    background: var(--color-danger) !important;
}
.swal2-confirm.swal2-styled:hover {
    background: var(--color-warning) !important;
}
.swal2-cancel.swal2-styled,
.swal2-deny.swal2-styled {
    background-color: var(--color-dark-variant) !important;
    color: var(--color-info-light) !important;
}
.swal2-cancel.swal2-styled:hover,
.swal2-deny.swal2-styled:hover {
    background-color: var(--color-primary) !important;
}

div.dt-length select {
    background: var(--color-primary) !important;
    color: var(--color-background) !important;
}

.errors {
    color: var(--color-danger) !important;
    font-size: 0.8em !important;
    max-width: 260px !important;
}

.loader-container {
    position: fixed;
    z-index: 999;
    background: var(--color-background);
    display: grid;
    place-content: center;
    inset: 0;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
    font-family: "Poppins", sans-serif !important;
}

.loader-container.hidden {
    opacity: 0;
    visibility: hidden;
}

#contentcontainer {
    opacity: 0;
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
}

#contentcontainer.visible {
    opacity: 1;
}

svg {
    width: 80rem;
    height: 20rem;
}

svg text {
    font-size: 5rem;
    stroke-width: 2;
    letter-spacing: -6px;

}

svg text.text-body {
    stroke: var(--color-primary);
    animation: 4s infinite alternate animate-stroke;
    /* stroke-dasharray: 0 32%; */
}

@keyframes animate-stroke {
    0% {
        fill: transparent;
        stroke: var(--color-primary);
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 32%;
    }

    50% {
        fill: transparent;
        stroke: var(--color-primary);
        stroke-width: 3;
    }

    80%,
    100% {
        fill: var(--color-primary);
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 32% 0;
    }
}

.swal2-styled.swal2-deny {
    background: var(--color-light);
}

.status-pending {
    color: var(--color-warning) !important;
}

.status-received {
    color: var(--color-orange) !important;
}

.status-paid {
    color: var(--color-success) !important;
}

.status-cancelled {
    color: var(--color-danger) !important;
}

.dropdown-icon{
    position: absolute;
    transform: translateX(-100%);
    pointer-events: none; 
}
.dropdown-icon.cashier-dorm {
    right: 10px;
    top: 75.5%;
    color: var(--color-primary);
}
.dropdown-icon.cashier-gym {
    left: 510px;
    top: 82.5%;
    color: var(--color-primary);
}
.dropdown-icon.receiving {
    right: 550px;
    top: 40%;
    color: var(--color-primary);
}
.dropdown-icon.supply {
    right: 550px;
    top: 45%;
    color: var(--color-primary);
}
