* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-style: normal;
    list-style: none;
}

:root {
    --color-primary: #003049;
    --color-danger: #d62828;
    --color-success: #18a999;
    --color-warning: #fcbf49;
    --color-orange: #f77f00;
    --color-white: #fff;
    --color-info-dark: #363949;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #1b9aaa;
    --color-dark-variant: #677483;
    --color-background: #eae2b7;

    --color-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-1: 0.8rem;
    --border-radius-1: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 1rem 2.5rem var(--color-dark-variant);
    --border-solid: 1px solid var(--color-primary);

}

.container {
    width: 95% !important;
    margin: auto;
    height: 100%;
}

body {
    min-height: 100vh;
    background: var(--bg-bolor);
    color: var(--color-background);
    background-color: var(--color-background) !important;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    transition: all .50s ease;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.column {
    display: flex;
    width: 50%;
    height: auto;
}

.main {
    display: flex;
    align-items: flex-end;
}

.main .navbar-nav li button {
    background-color: var(--color-primary);
    font-size: 1.5em;
    color: var(--color-background);
    border: none;
    font-weight: bold;
}

.main .navbar-nav li button {
    background-color: var(--color-primary);
    font-size: 1.5em;
    color: var(--color-background);
    border: none;
    font-weight: bold;
}

.main .navbar-nav li button {
    background-color: var(--color-primary);
    font-size: 1.5em;
    color: var(--color-background);
    border: none;
    font-weight: bold;
}

.navbar a.navbar-brand img {
    height: 4rem;
}

.navbar a.navbar-brand {
    display: flex;
    align-items: center;
    color: var(--color-background);
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 6px;
    text-decoration: none;
}

.navbar {
    background-color: var(--color-primary);
}

.navbar a {
    color: var(--color-background);
    font-size: 1.6rem;
    margin: 0px 30px 0px 0px;
    transition: all .50s ease;
}

.navbar .logout {
    margin: 0%;
}

.navbar a:hover {
    color: var(--color-orange);
}

.navbar a.active {
    color: var(--color-orange) !important;
    border: 1px solid var(--color-background);
    /* Specify border style */
    border-radius: 8px;
    transition: all .3s ease;
    padding: 10px 20px;
    /* Adjust padding to increase the width of the border */
}

.navbar .navbar-nav {
    display: flex;
    align-items: center;
}

.custom-toggler {
    background-color: var(--color-background) !important;
    border-color: var(--color-background) !important;

}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--color-orange);
    font-size: 28px;
    margin-right: 7px;
}

#menu-icon {
    font-size: 35px;
    color: var(--color-background);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.no-underline {
    text-decoration: none;
}

.banner-gym h1.banner-name {
    font-size: 7.5rem;
    color: var(--color-background);
}

.banner-gym {
    position: relative;
    text-align: center;
    color: var(--color-white);
    background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
    height: 550px;
    /* Set the desired height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-gym h2 {
    font-weight: 700;
    /* Bold */
    font-size: 4em;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    /* Use Montserrat font */
}

.banner-gym p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.banner-gym .btn {
    color: var(--color-danger);
    padding: 10px 15px;
    border-width: 5px;
    border-color: var(--color-warning) !important;
    /* Adjust the padding for your desired button size */
    font-weight: 700;
    background-color: var(--color-warning);
    /* Bold */
    font-size: 2.2em;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add a subtle drop shadow */
}

.banner-gym .btn:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
    /* Change to your desired hover color */
}

.banner-dorm {
    position: relative;
    text-align: center;
    color: var(--color-white);
    background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
    height: 550px;
    /* Set the desired height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-dorm h1.banner-name {
    font-size: 7.5rem;
    color: var(--color-background);
}

.banner-dorm h2 {
    font-weight: 700;
    /* Bold */
    font-size: 4em;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    /* Use Montserrat font */
}

.banner-dorm p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.banner-dorm .btn {
    color: var(--color-primary);
    padding: 10px 15px;
    border-width: 5px;
    border-color: var(--color-warning) !important;
    /* Adjust the padding for your desired button size */
    font-weight: 700;
    background-color: var(--color-warning);
    /* Bold */
    font-size: 2.2em;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* Add a subtle drop shadow */

}

.banner-dorm .btn:hover {
    background-color: var(--color-primary);
    color: var(--color-warning);
    background-color: var(--color-primary);
    color: var(--color-warning);
    /* Change to your desired hover color */
}

.wrapper {
    position: relative;
    min-height: 65vh;
    max-width: 1200px;
    background: var(--color-background);
    border: 3px solid var(--color-primary);
    margin: 60px auto 0;
    /* This will center the wrapper horizontally */
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: var(--color-primary);
}

.wrapper .form-box {
    display: flex;

}

.wrapper .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    background: var(--color-background);
    margin: 30px 0;
}

.wrapper .input-field-name {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    background: var(--color-background);
    margin: 30px 0;
}

.input-field-name input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: var(--color-primary) 1px;
    outline: var(--color-primary) 1px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: var(--color-primary);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-field input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: var(--color-primary) 1px;
    outline: var(--color-primary) 1px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: var(--color-primary);
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-field input::placeholder {
    color: var(--color-primary);
}

.input-field i {
    position: absolute;
    right: 20px;
    top: 20%;
    transform: translate(-50%);
    font-size: 20px;
    color: var(--color-primary);

}

.wrapper .forgot {
    display: flex;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: var(--color-primary);
    border-width: 3px;
    border-color: var(--color-primary);
    outline: none;
    border-radius: 40px;
    color: var(--color-background);
}

.wrapper .btn:hover {
    width: 100%;
    height: 45px;
    background: var(--color-background);
    border-width: 3px;
    border-color: var(--color-primary);
    outline: none;
    border-radius: 40px;
    color: var(--color-primary);
}

.form-box .form-details {
    max-width: auto;
    width: 130%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex start;
    background: url('../images/Login\ photo.png') center/cover no-repeat;
    background-position: center top;
}

.form-box .form-details-register {
    max-width: auto;
    width: 120%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex start;
    background: url('../images/Login\ photo.png') center/cover no-repeat;
    background-position: center top;
}

.form-box .form-content-register {
    width: 70%;
    padding: 1.2% 35px 1.2% 35px;
    display: flex;
    flex-direction: column;
}

.form-box .form-content {
    width: 70%;
    padding: 11% 35px 11% 35px;
    display: flex;
    flex-direction: column;
}

.form-box a {
    color: var(--color-orange);
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.wrapper .bottom-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.bottom-link p a {
    text-decoration: none;
}

/* Gym Table */
.day-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--color-primary);
    padding: 1%;
    padding-top: 0%;

}

.day-box {
    flex: 1;
    border: 3px solid var(--color-orange);
    padding: 10px;
    text-align: center;
    margin: 10px;
    background-color: var(--color-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);

}


.day-box h4 {
    font-weight: 800;
    color: var(--color-orange);
    text-transform: uppercase;
}

#calendar_container .h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: var(--color-background);
    font-size: 5em;
}



.schedule {
    border-top: 1px solid #ddd;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-gym-table {
    background-color: var(--color-primary);
    position: relative;
    /* Ensure positioning context for absolute positioning */
}

.container-gym-table .btn-reservation-gym {
    color: var(--color-primary);
    background-color: var(--color-warning);
    border: 3px solid var(--color-background);
    border-radius: 18px;
    font-size: 1.5em;
    padding: 5px 15px;
    margin: 0 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    justify-content: flex-start;
}

.container-gym-table .btn-calendar-gym {
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 3px solid var(--color-background);
    border-radius: 18px;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    justify-content: flex-end;
}

.button-container {
    position: absolute;
    top: 35px;
    right: 20px;
    display: flex;
    margin-bottom: 20px;
}

.container-gym-table .btn-calendar-gym:valid {
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 3px solid var(--color-background);
    border-radius: 18px;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.container-gym-table .btn-reservation-gym:hover {
    color: var(--color-primary);
    background-color: var(--color-warning);
    border: 3px solid var(--color-orange);
    border-radius: 18px;
    font-size: 1.5em;
    padding: 5px 15px;
    margin: 0 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}


.day-box .hour.unreserved {
    color: var(--color-primary);
}

.day-box .hour.reserved {
    color: rgb(156, 2, 2);
}

#reservation-section {
    margin-top: 20px;
}

#month-heading {
    text-transform: uppercase;
}


.day-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.day-box li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-orange);
    /* Adjust the color as needed */
}

.hour-divider {
    width: 100%;
    /* Adjust the width as needed */
    border-top: 4px solid var(--color-orange);
    margin: 10px 0;
}

/* ======================= Gym Modal =======================*/

.gym-modal-header {
    color: var(--color-primary);
    padding-top: 4%;
    padding-left: 4%;
}

.gym-modal-header .gym-modal-close {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 10px;
    color: var(--color-primary);
}

.gym-modal {
    background-color: var(--color-background) !important;
    font-family: "Poppins", sans-serif;
}

.gym-modal-body {
    color: var(--color-primary);
}

.gym-modal-body .btn-dropdown-modal {
    background-color: var(--color-warning);
    color: var(--color-primary);
}

.btn-dropdown-modal li a {
    color: var(--color-primary);
}

.modal-footer .btn.btn-add-cart-gym {
    color: var(--color-primary);
    border: 2px solid var(--main-color);
    background-color: var(--color-warning);
    color: var(--color-primary);
}

.gym-modal-body .btn-dropdown-modal {
    background-color: var(--color-warning);
    color: var(--color-primary);
}

.btn-dropdown-modal li a {
    color: var(--color-primary);
}

.modal-footer .btn.btn-add-cart-gym {
    color: var(--color-primary);
    border: 2px solid var(--color-orange);
    background-color: var(--color-warning);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-footer .btn.btn-clear-cart-gym {
    color: var(--color-primary);
    border: 2px solid var(--color-danger);
    background-color: var(--color-orange);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-footer .btn.btn-add-cart-gym:hover {
    color: var(--color-background);
    border: 2px solid var(--main-color);
    background-color: var(--color-primary);
}

.modal-footer .btn.btn-clear-cart-gym:hover {
    color: var(--color-background);
    border: 2px solid var(--color-danger);
    background-color: var(--color-primary);
}

/* ======================= Profile View =======================*/

/* Gym Table */

/* ======================= Profile View =======================*/
.profileview-container {
    display: grid;
    grid-template-columns: calc(30% - 15px) calc(70% - 15px);
    grid-template-rows: auto;
    flex-wrap: wrap;
    position: relative;
}

.left-column {
    box-sizing: border-box;
    margin-right: 15px;
    align-self: start;
}

.left-column h3 {
    font-size: 1.4rem;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 5rem;
    transition: all 300ms ease;

}

.sidebar a .ri-key-2-line,
.sidebar a .ri-user-line,
.sidebar a .ri-receipt-line,
.sidebar a .ri-logout-box-r-line {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    color: var(--color-background);
    gap: 1rem;
    text-decoration: none;
    height: 5rem;
    transition: all 300ms ease;
    position: relative;
    transition: all 300ms ease;
}

.left-column .sidebar a span {
    font-size: 1.5rem;
    transition: all 300ms ease;
}

.left-column .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
}

.left-column .sidebar a.active:before {
    content: "";
    margin-left: 2px;
    width: 6px;
    height: 100%;
    background: var(--color-background);
}

.left-column .sidebar a.active span {
    color: var(--color-background);
    margin-left: calc(1rem-3px);
}

.left-column .sidebar a:hover {
    color: var(--color-danger);
}

.left-column .sidebar a:hover span {
    margin-left: 0.5rem;
}

.right-column {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.7%;
    background-color: var(--color-background);
    padding: 40px;
    box-sizing: border-box;
    margin-left: 15px;
    border: 2px solid var(--color-primary);
}
.right-column.profile {
    grid-template-rows: auto 20px 20px 30px 40px 20px 40px 30px 50px 20px 50px;
}

.right-column .img-circle {
    margin-bottom: 0;
    grid-row: 1;
    grid-column: 3 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column .img-circle img {
    border: 12px solid var(--color-primary);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;

}

.right-column hr {
    grid-row-start: 3;
    align-items: center;
    justify-content: center;
    grid-column: span 6;
    height: 0;
}

.right-column .btn-edit-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: end;
    grid-row-start: 5;
    grid-column-start: 6;
    border-radius: var(--border-radius-1);
    background: var(--color-primary);
    color: var(--color-background);
    width: fit-content;
}
.right-column .btn-edit-profile:hover {
    background: var(--color-background);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.right-column .inputBox {
    position: relative;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.right-column .inputBox.firstname {
    grid-row: 7;
    grid-column: 1 / span 2;
}

.right-column .inputBox.middlename {
    grid-row: 7;
    grid-column: 3 / span 2;
}

.right-column .inputBox.lastname {
    grid-row: 7;
    grid-column: 5 / span 2;
}

.right-column .inputBox.email {
    grid-row: 9;
    grid-column: 1 / span 3;
}

.right-column .inputBox.contact-number {
    grid-row: 9;
    grid-column: 4 / span 3;
}

.right-column .inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-primary);
    background-color: var(--color-background);
    border-radius: 5px;
    outline: none;
    color: var(--color-primary);
    font-size: 1em;
}

.right-column .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #003049;
    text-transform: uppercase;
}

.right-column .inputBox input:valid ~ span, 
.right-column .inputBox input:focus ~ span {
    color: var(--color-primary);
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: var(--color-background);
    border-left: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
    letter-spacing: 0.2em;
}
.right-column .inputBox input:valid, 
.right-column .inputBox input:focus {

    border: 1px solid var(--color-primary);
}
.right-column .btn-save-profile-changes {
    background: var(--color-primary);
    color: var(--color-background);
    position: relative;
    grid-row: 11;
    grid-column: 1;
    margin-left: 5px;
    border-radius: var(--border-radius-1);
}
.right-column .btn-save-profile-changes:hover {
    background: var(--color-background);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

/* ======================= Profile View =======================*/


/* ======================= Profile Password View =======================*/
.right-column.password {
    grid-template-rows: 60px 60px 30px 60px 70px 30px;
}
.right-column.password h3{
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 1.5rem;
    margin-left: 5px;
    color: var(--color-primary);
}
.right-column.password a {
    grid-row: 3;
    grid-column: 2 / span 2;
    margin-left: 5px;
    color: var(--color-orange);
    font-size: 12px;
}
.right-column.password hr {
    grid-row-start: 4;
    align-items: center;
    justify-content: center;
    grid-column: span 6;
    height: 0;
}

.right-column .btn-edit-password:hover {
    background: var(--color-background);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.right-column .inputBox.current-password {
    grid-row: 2;
    grid-column: 2 / span 2;
}
.right-column .inputBox.new-password {
    grid-row: 5;
    grid-column: 2 / span 2;
}
.right-column .inputBox.confirm-password {
    grid-row: 5;
    grid-column: 4 / span 2;
}
.right-column .btn-save-password-changes {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: end;
    grid-row-start: 6;
    grid-column-start: 5;
    border-radius: var(--border-radius-1);
    background: var(--color-primary);
    color: var(--color-background);
    width: fit-content;
    height: min-content;

}
.right-column .btn-save-password-changes:hover {
    background: var(--color-background);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

/* ======================= Profile Password View =======================*/
.navbar-nav .nav-item a {
    text-decoration: none;

}

.navbar-nav .nav-item a.profile-active {
    color: var(--color-primary);
    /* Text color */
    background-color: var(--color-background);
    /* Background color */
    border-radius: 5px;
    /* Rounded corners */
    font-weight: bold;
    /* Bold text */
    border: 2px solid var(--color-primary);
    transition: all 0.3s ease;
}

.navbar .navbar-nav .nav-item {
    /* Adjusting margin to create more space between nav-items */
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-item a.login-active {
    color: var(--color-orange) !important;
    border: 1px solid var(--color-background);
    /* Specify border style */
    border-radius: 8px;
    transition: all .3s ease;
    padding: 10px 20px;
    /* Adjust padding to increase the width of the border */
}

.profileview-container .left-column {
    background-color: var(--color-primary);
}

.nav-link-profile .nav-link {
    font-size: 1.2em;
    color: var(--color-background);
    transition: all 0.3s ease;
}

.nav-link-profile .nav-link:hover {
    font-size: 1.2em;
    color: var(--color-primary);
    background-color: var(--color-background);
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Cart */
#root-cart {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.sidebar-cart {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.head {
    background-color: var(--color-background);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--color-white);
    display: flex;
    align-items: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid var(--color-info-dark);
}

/* Cart End */

/* Home View */

.row-top {
    border: var(--color-orange) 2px;
    display: flex;
    /* Flexbox layout for row items */

}

.row-bottom {
    border: var(--color-orange) 2px;
    display: flex;
    /* Flexbox layout for row items */
}

.column-left {
    flex: 1;
    border: var(--color-primary) 2px;
    color: var(--color-background);

    background-color: var(--color-primary);
    margin-top: 15px;
    border-radius: 50px;
    max-width: calc(30% - 30px);
    /* Set max-width to half of the available size of the row minus padding */
    /* Margin specified by user */
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

.column-right {
    border: 2px solid var(--color-primary);
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    background-color: var(--color-warning);
    flex: 1;
    color: var(--color-background);
    padding: 2%;
    border-radius: 50px;
    margin-left: 15px;
    /* Margin specified by user */
    margin-top: 15px;
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    text-align: justify;
    /* Justify text */

}

.column-right .welcome-to-gadrs {
    width: 100%;
    /* Ensure the ul spans the entire width */
    padding: 0;
    /* Remove default padding */
    letter-spacing: 10px;
    margin-right: 15px;
}

.column-right .welcome-text1 {
    color: var(--color-background);
    /* Text color */
    background-color: var(--color-danger);
    /* Background color */

    font-weight: bold;
    /* Bold text */
    transition: all 0.3s ease;
    font-size: 2em;
    width: 100%;
    /* Ensure h1 elements span the entire width */
    text-align: center;
    /* Center the text horizontally */
    margin: 10px;
    /* Remove default margins */

}

.column-right ul {
    margin-bottom: 0;
    padding-right: 0;
}

.column-right .welcome-text2 {

    font-size: 2em;
    color: var(--color-background);
    /* Text color */
    background-color: var(--color-primary);
    /* Background color */
    font-weight: bold;
    /* Bold text */
    transition: all 0.3s ease;
    width: 100%;
    /* Ensure h1 elements span the entire width */
    text-align: center;
    /* Center the text horizontally */
    margin: 10px;
    /* Remove default margins */
}

.column-bottom {
    border: var(--color-primary) 2px;
    color: var(--color-background);
    background-color: var(--color-primary);
    margin-top: 15px;
    border-radius: 50px;
    max-width: calc(80%);
    /* Set max-width to half of the available size of the row minus padding */
    /* Margin specified by user */
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

.column-bottom .home-reservation-table {
    width: 100%;
    /* Ensure the ul spans the entire width */
    padding: 0;
    /* Remove default padding */

    margin: 30px 30px 30px 30px;
    border-collapse: collapse;
    /* Ensure cells share borders */
    width: 100%;

}

.row-bottom {
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

.home-reservation-table .test-home {
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

.home-reservation-table h1 {
    display: flex;
    /* Use flexbox */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
}

.home-reservation-table h1 i {
    display: flex;
    /* Use flexbox */
    color: var(--color-orange);
}

.home-reservation-table .table-home {
    border-collapse: collapse;
    /* Ensure cells share borders */
    width: 100%;
}

.home-reservation-table .table-home th {
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 4px solid var(--color-background);
    /* Custom border color (#ff0000 is red) and width */
    padding: 10px;
}

.home-reservation-table .table-home td {
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 4px solid var(--color-background);
    /* Custom border color (#ff0000 is red) and width */
    padding: 10px;
}

/* Home View End*/



/* Cart Checkout */
.secondary_nav {
    background-color: #F77F00 !important;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #F77F00;
    /* Your desired background color */
    color: #ffffff;
    /* Your desired text color */
    padding: 10px;
    text-align: center;
    border: none !important;
}



.vertical-line {
    border-left: 5px solid #000000;
    /* Adjust color and thickness as needed */
    height: auto;
    border-radius: 5px;
    /* Adjust the border-radius value for rounded ends */
    margin-left: 5px;
    /* Adjust margin as needed to create space */
    margin-right: 5px;
    /* Adjust margin as needed to create space */
}

li {
    list-style: none;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.minus-icon {
    border-radius: 60%;
    border: 5px solid #003049;
    background-color: #003049;
    color: #EAE2B7;
}

.add-icon {
    border-radius: 60%;
    border: 5px solid #003049;
    background-color: #003049;
    color: #EAE2B7;
}

.trash-icon {
    border-radius: 60%;
    border: 7px solid #003049;
    background-color: #003049;
    color: #EAE2B7;
}

.cart-checkout {
    border: 7px solid #003049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.col-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Cart Checkout End*/

/*======================= DORM RESERVATION ==========================================*/

.container .section .card {
    color: var(--color-background);
    background: var(--color-primary);
}

.container .section .card button {
    color: var(--color-background);
}

.container .section .card button:hover {
    color: var(--color-primary);
    border: 1px solid var(--color-orange);
    background: var(--color-background);
    transition: all 300ms ease;
}

.container .section .card .card-body button {
    color: var(--color-primary);
    background: var(--color-warning);
}

.container .section .card .card-body .dropdown-menu,
.container .section .card .card-body .dropdown-menu a {
    background: var(--color-warning);
    color: var(--color-primary);
    overflow: hidden;
}

.container .section .card .card-body .dropdown-menu a:hover {
    background: var(--color-background);
    color: var(--color-primary);
    /* border: 1px solid var(--color-primary); */
    transform: translate(-5px);
    transition: all 300ms ease;
}

.container .section .card .footer.button a {
    padding: auto;
}

.container .section .card .footer.button a.btn-clear {
    color: var(--color-primary);
    background-color: var(--color-orange);
    border: 3px solid var(--color-danger);
    transform: translate(-5px);
}

.container .section .card .footer.button a.btn-clear:hover {
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 3px solid var(--color-background);
    transform: translate(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.container .section .card .footer.button a.btn-add {
    color: var(--color-primary);
    background-color: var(--color-warning);
    border: 3px solid var(--color-orange);
    transform: translate(5px);
}

.container .section .card .footer.button a.btn-add:hover {
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 3px solid var(--color-background);
    transform: translate(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

@media (max-width: 1024px) {
    .centered {
        display: flex;
        align-items: flex-end;
    }

    .banner-dorm h1.banner-name {
        font-size: 5rem;
        color: var(--color-background);
        margin-top: 75px !important;
        transition: all .50s ease;
    }

    .banner-gym h1.banner-name {
        font-size: 5rem;
        color: var(--color-background);
        transition: all .50s ease;
        margin-top: 75px !important;
    }

    .banner-dorm .btn {
        color: var(--color-primary);
        padding: 10px 15px;
        border-width: 5px;
        border-color: var(--color-warning) !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: var(--color-warning);
        /* Bold */
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Add a subtle drop shadow */
        transition: all .50s ease;
    }

    .banner-gym .btn {
        color: var(--color-danger);
        padding: 10px 15px;
        border-width: 5px;
        border-color: var(--color-warning) !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: var(--color-warning);
        /* Bold */
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Add a subtle drop shadow */
        transition: all .50s ease;
    }

    .banner-gym {
        position: relative;
        text-align: center;
        color: var(--color-white);
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 360px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner-dorm {
        position: relative;
        text-align: center;
        color: var(--color-white);
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 360px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-box .form-details {
        max-width: auto;
        /* Remove max-width to allow the div to expand as needed */
        width: 60%;
        /* Set width to 100% to fill the parent container */
        height: 0;
        /* Set initial height to 0 */
        padding-top: 75%;
        /* Set padding-top based on the aspect ratio of the background image (e.g., if the image has a height of 768px and a width of 1024px, the aspect ratio is 768/1024 = 0.75 or 75%) */
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        background: url('../images/Login\ page\ 1\ 768px.png') center/cover no-repeat;
        background-size: cover;
        /* Ensure the background image covers the entire div */
        transition: all .5s ease;
    }

    .form-box .form-details-register {
        max-width: auto;
        /* Remove max-width to allow the div to expand as needed */
        width: 40%;
        /* Set width to 100% to fill the parent container */
        height: 0;
        /* Set initial height to 0 */
        padding-top: 75%;
        /* Set padding-top based on the aspect ratio of the background image */
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: url('../images/Login\ page\ 768px.png') center/cover no-repeat;
        background-size: cover;
        /* Ensure the background image covers the entire div */
        transition: all .5s ease;
    }

    .form-content-register {
        padding: 10% 10px 0% 10px !important;
    }

    .form-content {
        padding: 10% 5% 10% 5% !important;
    }

    .wrapper {
        position: relative;
        min-height: 65vh;
        max-width: 1200px;
        width: auto;
        background: var(--color-background);
        border: 3px solid var(--color-primary);
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1700px !important;
    }
}

@media (max-width: 992px) {
    .centered {
        display: flex;
        align-items: flex-end;
    }

    .banner-dorm h1.banner-name {
        font-size: 5rem;
        color: var(--color-background);
        transition: all .50s ease;
    }

    .banner-gym h1.banner-name {
        font-size: 5rem;
        color: var(--color-background);
        transition: all .50s ease;
    }

    .banner-dorm .btn {
        color: var(--color-primary);
        padding: 10px 15px;
        border-width: 5px;
        border-color: var(--color-warning) !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: var(--color-warning);
        /* Bold */
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Add a subtle drop shadow */
        transition: all .50s ease;
    }

    .banner-gym .btn {
        color: var(--color-danger);
        padding: 10px 15px;
        border-width: 5px;
        border-color: var(--color-warning) !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: var(--color-warning);
        /* Bold */
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Add a subtle drop shadow */
        transition: all .50s ease;
    }

    .banner-gym {
        position: relative;
        text-align: center;
        color: var(--color-white);
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 360px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner-dorm {
        position: relative;
        text-align: center;
        color: var(--color-white);
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 360px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-box .form-details {
        max-width: auto;
        /* Remove max-width to allow the div to expand as needed */
        width: 60%;
        /* Set width to 100% to fill the parent container */
        height: 70vh;
        /* Set initial height to 0 */
        padding-top: 75%;
        /* Set padding-top based on the aspect ratio of the background image (e.g., if the image has a height of 768px and a width of 1024px, the aspect ratio is 768/1024 = 0.75 or 75%) */
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        background: url('../images/Login\ page\ 1\ 992px.png') center/cover no-repeat;
        transition: all .5s ease;
    }

    .form-box .form-details-register {
        max-width: auto;
        /* Remove max-width to allow the div to expand as needed */
        width: 40%;
        /* Set width to 100% to fill the parent container */
        height: 70vh;
        /* Set initial height to 0 */
        padding-top: 75%;
        /* Set padding-top based on the aspect ratio of the background image */
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: url('../images/Login\ page\ 992px.png') center/contain no-repeat;
        background-size: cover;
        /* Ensure the background image covers the entire div */
        transition: all .5s ease;
    }

    .form-content-register {
        padding: 10% 10px 0% 10px !important;
    }

    .form-content {
        padding: 10% 5% 10% 5% !important;
    }

    .wrapper {
        position: relative;
        min-height: 65vh;
        max-width: 1200px;
        width: auto;
        background: var(--color-background);
        border: 3px solid var(--color-primary);
    }
}

@media (max-width: 768px) {

    .banner-dorm h1.banner-name {
        font-size: 3rem;
        color: var(--color-background);
        transition: all .50s ease;
    }

    .banner-gym h1.banner-name {
        font-size: 3rem;
        color: var(--color-background);
        transition: all .50s ease;
    }

    .banner-dorm .btn {
        color: var(--color-primary);
        padding: 10px 15px;
        border-width: 5px;
        border-color: var(--color-warning) !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: var(--color-warning);
        /* Bold */
        font-size: 0.9rem;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Add a subtle drop shadow */
        transition: all .50s ease;
    }

    .banner-gym .btn {
        color: var(--color-danger);
        padding: 10px 15px;
        border-width: 5px;
        border-color: var(--color-warning) !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: var(--color-warning);
        /* Bold */
        font-size: 0.9rem;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Add a subtle drop shadow */
        transition: all .50s ease;
    }

    .banner-gym {
        position: relative;
        text-align: center;
        color: var(--color-white);
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner-dorm {
        position: relative;
        text-align: center;
        color: var(--color-white);
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar a.navbar-brand img {
        height: 2rem;
    }

    .navbar a.navbar-brand {
        display: flex;
        align-items: center;
        color: var(--color-background);
        font-size: 1.1rem;
        font-weight: 900;
        padding-left: 1px;

        text-decoration: none;
    }

    .navbar {
        background-color: var(--color-primary);
    }

    .main .navbar-nav .nav-item a {
        color: var(--color-background);
        font-size: 1.4rem;
        padding: 5px 0;
        margin: 20px 30px;
        transition: all .50s ease;
        text-decoration: none;
        letter-spacing: 2px;
    }

    .main .navbar-nav .nav-item i {
        display: none;
    }

    .navbar a:hover {
        color: var(--color-orange);
    }

    .ri-user-fill {
        display: none;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-details-register {
        display: none;
    }

    .form-box .form-content-register {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-box .form-content {
        width: 100%;
        padding: 11% 35px 11% 35px;
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        position: relative;
        min-height: 65vh;
        max-width: 1200px;
        width: auto;
        background: var(--color-background);
        border: 3px solid var(--color-primary);
    }

    .input-field input::placeholder {
        font-size: 0.7em;
    }

    .input-field-name input::placeholder {
        font-size: 0.7em;
    }

    .form-content-register {
        padding: 10% 10px 0% 10px !important;
    }

    .form-content {
        padding: 10% 10px 0% 10px !important;
    }
}



@media (max-width: 480px) {
    .banner-dorm h1.banner-name {
        font-size: 2.5rem;
        color: var(--color-background);
        transition: all .50s ease;
    }

    .banner-gym h1.banner-name {
        font-size: 2.5rem;
        color: var(--color-background);
        transition: all .50s ease;
    }

    .banner-dorm .btn {
        color: var(--color-primary);
        padding: 10px 15px;
        border-width: 5px;
        border-color: var(--color-warning) !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: var(--color-warning);
        /* Bold */
        font-size: 0.7rem;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Add a subtle drop shadow */
        transition: all .50s ease;
    }

    .banner-gym .btn {
        color: var(--color-danger);
        padding: 10px 15px;
        border-width: 5px;
        border-color: var(--color-warning) !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: var(--color-warning);
        /* Bold */
        font-size: 0.7rem;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        /* Add a subtle drop shadow */
        transition: all .50s ease;
    }

    .banner-gym {
        position: relative;
        text-align: center;
        color: var(--color-white);
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .banner-dorm {
        position: relative;
        text-align: center;
        color: var(--color-white);
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar a.navbar-brand img {
        height: 2rem;
    }

    .navbar a.navbar-brand {
        display: flex;
        align-items: center;
        color: var(--color-background);
        font-size: 1.1rem;
        font-weight: 900;
        padding-left: 1px;

        text-decoration: none;
    }

    .navbar {
        display: flex;
        background-color: var(--color-primary);
    }

    .main .navbar-nav .nav-item a {
        color: var(--color-background);
        font-size: 1.4rem;
        padding: 5px 0;
        margin: 20px 30px;
        transition: all .50s ease;
        text-decoration: none;
        letter-spacing: 2px;
    }

    .main .navbar-nav .nav-item i {
        display: none;
    }

    .navbar a:hover {
        color: var(--color-orange);
    }

    .ri-user-fill {
        display: none;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-details-register {
        display: none;
    }

    .form-box .form-content-register {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .form-box .form-content {
        width: 100%;
        padding: 11% 35px 11% 35px;
        display: flex;
        flex-direction: column;
    }

    .wrapper {
        position: relative;

        min-height: 65vh;
        max-width: 1200px;
        width: auto;
        background: var(--color-background);
        border: 3px solid var(--color-primary);
    }

    .input-field input::placeholder {
        font-size: 0.7em;
    }

    .input-field-name input::placeholder {
        font-size: 0.7em;
    }

    .form-content-register {
        padding: 10% 10px 0% 10px !important;
    }

    .form-content {
        padding: 10% 10px 0% 10px !important;
    }

}