*{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    list-style: none;
}
:root{
    --bg-color: #003049;
    --text-color: #eae2b7;
    --main-color: #f77f00;
}
body{
    min-height: 100vh;
    background: var(--bg-bolor);
    color: var(--text-color);
    background-color: var(--text-color) !important;
}
header{
    color: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 12px 2%;
    transition: all .50s ease;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}
.column{
    display: flex;
    width: 50%;
    height: auto;
}
.main{
    display: flex;
    align-items: flex-end;
}
.navbar a.navbar-brand img{
    height: 4rem;
}
.navbar a.navbar-brand{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 900;
    padding-left: 14px;
    letter-spacing: 6px;
    text-decoration: none;
}
.navbar{
    display: flex;
    background-color: #003049;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color) !important;
    border: 1px solid var(--text-color); /* Specify border style */
    border-radius: 8px;
    transition: all .3s ease;
    padding: 10px 20px; /* Adjust padding to increase the width of the border */
}

.navbar .navbar-nav{
    display: flex;
    align-items: center;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.no-underline {
    text-decoration: none;
}
.banner-gym h1.banner-name{
    font-size: 7.5rem;
    color: #eae2b7;
}
.banner-gym {
    position: relative;
    text-align: center;
    color: #fff;
    background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
    height: 550px;
    /* Set the desired height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-gym h2 {
    font-weight: 700;
    /* Bold */
    font-size: 4em;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    /* Use Montserrat font */
}

.banner-gym p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.banner-gym .btn {
    color: #d62828;
    padding: 10px 15px;
    border-width: 5px;
    border-color: #FCBF49 !important;
    /* Adjust the padding for your desired button size */
    font-weight: 700;
    background-color: #FCBF49;
    /* Bold */
    font-size: 2.2em;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    /* Use Poppins font for the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
}

.banner-gym .btn:hover {
    background-color: #003049;
    color: #eae2b7;
    /* Change to your desired hover color */
}
.banner-dorm {
    position: relative;
    text-align: center;
    color: #fff;
    background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
    height: 550px;
    /* Set the desired height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-dorm h1.banner-name{
    font-size: 7.5rem;
    color: #eae2b7;
}

.banner-dorm h2 {
    font-weight: 700;
    /* Bold */
    font-size: 4em;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    /* Use Montserrat font */
}

.banner-dorm p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.banner-dorm .btn {
    color: #003049  ;
    padding: 10px 15px;
    border-width: 5px;
    border-color: #FCBF49 !important;
    /* Adjust the padding for your desired button size */
    font-weight: 700;
    background-color: #FCBF49;
    /* Bold */
    font-size: 2.2em;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    /* Use Poppins font for the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
}

.banner-dorm .btn:hover {
    background-color: #003049;
    color: #FCBF49;
    /* Change to your desired hover color */
}

.wrapper {
    position: fixed;
    top: 60%;
    left: 50%;
    min-height: 65vh;
    max-width: 1200px;
    width: 1200px;
    background: #eae2b7;
    border: 3px solid #003049;
    transform: translate(-50%, -50%);
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #003049;
}
.wrapper .form-box {
    display: flex;

}
.wrapper .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    background:#eae2b7;
    margin: 30px 0;
}
.wrapper .input-field-name {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    background:#eae2b7;
    margin: 30px 0;
}
.input-field-name input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: #003049 1px;
    outline: #003049 1px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: #003049;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}
.input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: #003049 1px;
    outline: #003049 1px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: #003049;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-field input::placeholder{
    color: #003049;
}
.input-field i{
    position: absolute;
    right: 20px;
    top: 20%;
    transform: translate(-50%);
    font-size: 20px;
    color: #003049;
    
}
.wrapper .forgot {
    display:flex;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #003049;
    border-width: 3px;
    border-color: #003049;
    outline: none;
    border-radius: 40px;
    color: #eae2b7;
}
.wrapper .btn:hover{
    width: 100%;
    height: 45px;
    background: #eae2b7;
    border-width: 3px;
    border-color: #003049;
    outline: none;
    border-radius: 40px;
    color: #003049;
}

.form-box .form-details {
    max-width: auto;
    width: 130%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex start;
    background: url('../images/Login\ photo.png') center/cover no-repeat;
    background-position: center top;
}
.form-box .form-details-register {
    max-width: auto;
    width: 120%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex start;
    background: url('../images/Login\ photo.png') center/cover no-repeat;
    background-position: center top;
}
.form-box .form-content-register {
    width: 70%;
    padding: 1.2% 35px 1.2% 35px;
    display: flex;
    flex-direction: column; 
}
.form-box .form-content {
    width: 70%;
    padding: 11% 35px 11% 35px;
    display: flex;
    flex-direction: column; 
}
.form-box a{
    color: #f77f00;
    text-decoration: none;
}
.form-box a:hover{
    text-decoration: underline;
}
.wrapper .bottom-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.bottom-link p a{
    text-decoration: none;
}

/* Gym Table */
.day-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 10;
    background-color: #003049;
    /* Blue background color */
    border: 4px solid #ffffff;
    /* Border color */
    border-radius: 20px;
    /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.day-box {
    flex: 1;
    border: 3px solid #F77F00;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #EAE2B7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}


.day-box h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #F77F00;
    text-transform: uppercase;
}

#calendar_container .h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fffefe;
    font-size: 3.2em;
}

.schedule {
    border-top: 1px solid #ddd;
    padding-top: 5px;
    margin-top: 5px;
}


/* Add styles for unreserved hours */
.day-box .hour.unreserved {
    color: #003049;
    /* Change to your desired color for unreserved hours */
}

/* Add styles for reserved hours */
.day-box .hour.reserved {
    color: rgb(156, 2, 2);
    /* Change to your desired color for reserved hours */
}

#reservation-section {
    background-color: #003049;
    margin-top: 20px;
}

#month-heading {
    text-transform: uppercase;
}


.day-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.day-box li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F77F00; /* Adjust the color as needed */
}

.hour-divider {
    width: 100%; /* Adjust the width as needed */
    border-top: 4px solid #F77F00;
    margin: 10px 0;
}

/* Gym Table */

/* Profile View */

.profileview-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.left-column {
    flex: 0 0 calc(30% - 15px); /* Adjust the width as needed */
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 15px; /* Adjust the margin as needed */
}

.right-column {
    flex: 0 0 calc(70% - 15px);
    /* Adjust the width as needed */
    background-color: #dcdcdc;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 15px;
    /* Adjust the margin as needed */
    position: absolute;
    top: 0;
    left: calc(30% + 20px);
    border: 2px solid #003049; /* Add solid border with specified color */
}
/* Profile View */

@media (max-width: 1024px) {
    .centered{
        display: flex;
        align-items: flex-end;
    }
    .banner-dorm h1.banner-name{
        font-size: 5rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-gym h1.banner-name{
        font-size: 5rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-dorm .btn {
        color: #003049  ;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym .btn {
        color: #d62828;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 360px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-dorm {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 360px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 768px) {
   
    .banner-dorm h1.banner-name{
        font-size: 3rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-gym h1.banner-name{
        font-size: 3rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-dorm .btn {
        color: #003049  ;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 0.9rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym .btn {
        color: #d62828;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 0.9rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-dorm {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 480px) {
    .banner-dorm h1.banner-name{
        font-size: 2.5rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-gym h1.banner-name{
        font-size: 2.5rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-dorm .btn {
        color: #003049  ;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 0.7rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym .btn {
        color: #d62828;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 0.7rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-dorm {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar a.navbar-brand img{
        height: 3rem;
    }
    .navbar a.navbar-brand{
        display: flex;
        align-items: center;
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 900;
        padding-left: 1px;
        letter-spacing: 6px;
        text-decoration: none;
    }
}