*{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    list-style: none;
}
:root{
    --bg-color: #003049;
    --text-color: #eae2b7;
    --main-color: #f77f00;
}
body{
    min-height: 100vh;
    background: var(--bg-bolor);
    color: var(--text-color);
    background-color: var(--text-color) !important;
}
header{
    color: var(--bg-color);
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 12px 2%;
    transition: all .50s ease;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}
.main{
    display: flex;
    align-items: flex-end;
}
.navbar a.navbar-brand img{
    height: 4rem;
}
.navbar a.navbar-brand{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 900;
    padding-left: 14px;
    letter-spacing: 6px;
    text-decoration: none;
}
.navbar{
    display: flex;
    background-color: #003049;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color) !important;
}
.navbar .navbar-nav{
    display: flex;
    align-items: center;
}
.user{
    display: flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.no-underline {
    text-decoration: none;
}
.banner-gym h1.banner-name{
    font-size: 7.5rem;
    color: #eae2b7;
}
.banner-gym {
    position: relative;
    text-align: center;
    color: #fff;
    background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
    height: 550px;
    /* Set the desired height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-gym h2 {
    font-weight: 700;
    /* Bold */
    font-size: 4em;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    /* Use Montserrat font */
}

.banner-gym p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.banner-gym .btn {
    color: #d62828;
    padding: 10px 15px;
    border-width: 5px;
    border-color: #FCBF49 !important;
    /* Adjust the padding for your desired button size */
    font-weight: 700;
    background-color: #FCBF49;
    /* Bold */
    font-size: 2.2em;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    /* Use Poppins font for the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
}

.banner-gym .btn:hover {
    background-color: #003049;
    color: #eae2b7;
    /* Change to your desired hover color */
}
.banner-dorm {
    position: relative;
    text-align: center;
    color: #fff;
    background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
    height: 550px;
    /* Set the desired height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-dorm h1.banner-name{
    font-size: 7.5rem;
    color: #eae2b7;
}

.banner-dorm h2 {
    font-weight: 700;
    /* Bold */
    font-size: 4em;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    /* Use Montserrat font */
}

.banner-dorm p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.banner-dorm .btn {
    color: #003049  ;
    padding: 10px 15px;
    border-width: 5px;
    border-color: #FCBF49 !important;
    /* Adjust the padding for your desired button size */
    font-weight: 700;
    background-color: #FCBF49;
    /* Bold */
    font-size: 2.2em;
    text-decoration: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    /* Use Poppins font for the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
}

.banner-dorm .btn:hover {
    background-color: #003049;
    color: #FCBF49;
    /* Change to your desired hover color */
}
@media (max-width: 1024px) {
    .centered{
        display: flex;
        align-items: flex-end;
    }
    .banner-dorm h1.banner-name{
        font-size: 5rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-gym h1.banner-name{
        font-size: 5rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-dorm .btn {
        color: #003049  ;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym .btn {
        color: #d62828;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 1.5rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 360px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-dorm {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 360px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
@media (max-width: 768px) {
   
    .banner-dorm h1.banner-name{
        font-size: 3rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-gym h1.banner-name{
        font-size: 3rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-dorm .btn {
        color: #003049  ;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 0.9rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym .btn {
        color: #d62828;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 0.9rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-dorm {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 480px) {
    .banner-dorm h1.banner-name{
        font-size: 2.5rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-gym h1.banner-name{
        font-size: 2.5rem;
        color: #eae2b7;
        transition: all .50s ease;
    }
    .banner-dorm .btn {
        color: #003049  ;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 0.7rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym .btn {
        color: #d62828;
        padding: 10px 15px;
        border-width: 5px;
        border-color: #FCBF49 !important;
        /* Adjust the padding for your desired button size */
        font-weight: 700;
        background-color: #FCBF49;
        /* Bold */
        font-size: 0.7rem;
        text-decoration: none;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        /* Use Poppins font for the button */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a subtle drop shadow */
        transition: all .50s ease;
    }
    .banner-gym {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Gym\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .banner-dorm {
        position: relative;
        text-align: center;
        color: #fff;
        background: url('../images/Dorm\ Banner\ Reservation.png') center/cover no-repeat;
        height: 250px;
        /* Set the desired height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar a.navbar-brand img{
        height: 3rem;
    }
    .navbar a.navbar-brand{
        display: flex;
        align-items: center;
        color: var(--text-color);
        font-size: 1.8rem;
        font-weight: 900;
        padding-left: 1px;
        letter-spacing: 6px;
        text-decoration: none;
    }
}

/* Gym Table */
.day-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 10;
    background-color: #003049;
    /* Blue background color */
    border: 4px solid #ffffff;
    /* Border color */
    border-radius: 20px;
    /* Optional: Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
}

.day-box {
    flex: 1;
    border: 3px solid #F77F00;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #EAE2B7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}


.day-box h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: #F77F00;
    text-transform: uppercase;
}

#calendar_container .h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fffefe;
    font-size: 3.2em;
}

.schedule {
    border-top: 1px solid #ddd;
    padding-top: 5px;
    margin-top: 5px;
}

.hour-divider {
    border-top: 4px solid #F77F00;
    margin: 0;
}

/* Add styles for unreserved hours */
.day-box .hour.unreserved {
    color: #003049;
    /* Change to your desired color for unreserved hours */
}

/* Add styles for reserved hours */
.day-box .hour.reserved {
    color: rgb(156, 2, 2);
    /* Change to your desired color for reserved hours */
}

#reservation-section {
    background-color: #003049;
    margin-top: 20px;
}

#month-heading {
    text-transform: uppercase;
}

/* Gym Table */
