.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.login-container {
    background-color: var(--color-background);
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 750px;
    color: var(--color-primary);
}
.login-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 1rem 0;
}
.login-container span {
    font-size: 12px;
}
.login-container a {
    color: var(--color-orange);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.login-container button {
    background-color: var(--color-primary);
    color: var(--color-background);
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.login-container button.hidden {
    background-color: transparent;
    border-color: var(--color-background);
}
.login-container form .login,
.login-container form .registration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.login-container form {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.login-container input {
    background-color: #dbd6c2;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
/* .login-container input.password-field {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} */
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.confirm-password-container,
.password-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-container,
.confirm-password-container {
    position: relative;
    display: flex;
    align-items: center;
}
.password-container input,
.confirm-password-container input {
    width: 100%;
    padding-right: 2em; 
    box-sizing: border-box;
}
.password-container .fa-eye,
.confirm-password-container .fa-eye {
    position: absolute;
    right: 10px; 
    cursor: pointer;
    color: #335e73;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}
.login-container.active .sign-in {
    transform: translateX(100%);
}
.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login-container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}
@keyframes move {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}
/* .login {
    margin: 20px 0;
}
.login a{
    margin: 20px 0;
} */
.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.login-container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: var(--color-primary);
    height: 100%;
    background: linear-gradient(to right, #335e73, var(--color-primary));
    color: var(--color-background);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.login-container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.login-container.active .toggle-left {
    transform: translateX(0);
}
.toggle-right {
    right: 0;
    transform: translateX(0);
}

.login-container.active .toggle-right {
    transform: translateX(200%);
}
.signup-text {
    display: none;
}
@media (min-width: 2000px) {
}

@media screen and (max-width: 1150px) {
}

@media screen and (max-width: 950px) {
}
@media screen and (max-width: 650px) {
    /* .toggle-container{
        display: none;
    } */
    .toggle-container {
        height: 15%;
    }
    .login-container.active .toggle-right {
        transform: translateX(100%);
    }
    .login-container.active .sign-up {
        transform: translateX(0%);
    }
    .toggle-container p,
    .toggle-container h1 {
        display: none;
    }
    .sign-up,
    .sign-in {
        width: 100%;
    }
    .login-container {
        width: 90%;
    }
    /* .signup-text {
        display: block;
    }
    .signinshowpassword {
        position: absolute;
        top: 53%;
        right: 15%;
    }
    .signupshowpassword {
        position: absolute;
        top: 69%;
        right: 14%;
    }
    .signupconfirmpassword {
        position: absolute;
        top: 77.5%;
        right: 14%;
    } */
    .login-container {
        height: 650px;
    }
    .login-container form {
        margin-top: 30px;
    }
}
